@import "styles/mixins";

.RoundCheckbox {
  position: relative;

  .Wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    & input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      width: 24px;
      height: 24px;
      margin: 0;
      z-index: 2;
      cursor: pointer;

      &:focus + label {
        @include boxShadow;
      }

      & + label {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid var(--bs-primary);
        position: relative;
        z-index: 1;

        &::after {
          content: url("../../../../assets/icons/checkbox-tick-icon.svg");
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 16px;
          display: none;
          cursor: pointer;
        }
      }

      &:checked + label::after {
        display: block;
      }

      &:not(:checked) + label {
        border: 2px solid var(--bs-primary-hover);
      }
    }

    .LabelText {
      font-size: var(--bs-font-large);
      font-weight: var(--br-font-weight-light);
      color: var(--bs-gray-dark);
    }
  }

  .ErrorText {
    position: absolute;
    bottom: -15px;
    padding-left: 30px;
    color: var(--bs-danger);
  }
}
