@import "styles/mixins";

.MapMarkerDescription {
  border: 2px solid var(--bs-primary);
  padding: 20px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: whitesmoke;
  display: none;
  border-radius: 3px;
  height: 350px;
  width: 250px;

  .Close {
    position: absolute;
    padding: 5px;
    top: -10px;
    left: -10px;
    cursor: pointer;
  }
}
.IsOpen {
  display: block;
}
