@import "/src/styles/mixins";

.Modal {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &::-webkit-scrollbar {
    display: none !important;
  }

  [class~="modal-dialog"] {
    width: 100%;
  }

  [class~="modal-content"] {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .Header {
    gap: 25px;
    display: flex;
    border-bottom: 0px;
    justify-content: space-between;
    font-weight: bold;
    padding-top: 56px;
    max-width: 1500px;
    padding: 56px 200px;
    width: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
      width: 100%;
      margin-bottom: 0px;
    }

    .CloseIcon {
      width: 25px;
      height: 25px;
    }
  }

  .LoaderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .Loader {
      font-size: 4px;
    }
  }

  .Body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    padding: 0 200px;
  }

  .Footer {
    border-top: 0px;
    justify-content: center;
    flex-direction: row;

    Button {
      flex: 1;
    }
  }
}

.Backdrop {
  opacity: 0;
}
