@import "styles/mixins";

.SpeakeasyPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 80px;
  height: 100%;

  @include devices(mobile, small-tablet) {
    padding-top: 40px;
  }
}
