@import "styles/mixins";

.RegisterPage {
  display: flex;
  justify-content: center;
  align-items: center;

  .FormWrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;

    .Title {
      font-size: var(--bs-font-extra-large);
      font-weight: var(--bs-font-weight-semi-bold);
      color: var(--bs-dark);
    }
  }
}
