@import "styles/mixins";

.Switch {
  position: relative;

  .Circle {
    pointer-events: none;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 72px;
    height: 40px;
    border-radius: 28px;
    background: #f4f4f4;

    &::after {
      content: " ";
      display: block;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      margin: 12px;
      background: var(--bs-primary);
      -webkit-box-shadow: 0 0 0 5px #ffffff;
      -moz-box-shadow: 0 0 0 5px #ffffff;
      box-shadow: 0 0 0 5px #ffffff;
      transition: 0.2s;
    }
  }

  .CheckBox {
    opacity: 0;
    z-index: 1;
    border-radius: 28px;
    width: 72px;
    height: 40px;
    cursor: pointer;

    &:focus-visible + .Circle {
      @include boxShadowLight();
    }

    &:hover + .Circle {
      @include boxShadowLight();
    }

    &:checked + .Circle {
      background: var(--bs-primary);

      &::after {
        content: "";
        display: block;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-left: 40px;
        transition: 0.2s;
      }
    }
  }
}
